@{ 
    string[] yapilandirma = { "Oto Galerici","Alper Dilaver","0531 845 51 12","0442 124 25 61","alper.dilaver@gmail.com"};
}

<div class="d-flex justify-content-center mt-5">
    <img src="~/Content/Img/profil.jpg" height="250" width="250" class="img-circle mt-3" />
</div>
<h4 class="h4 text-white text-center">@yapilandirma[0]</h4>
<h2 class="h2 text-white text-center mt-4" style="font-style:italic;">@yapilandirma[1]</h2>
<div class="row">
    <p><i class="fas fa-mobile-alt mt-4" style="color:white; font-size:x-large; margin-left:35px;"></i> <span class="h5 text-white" style=" margin-left:20px; margin-top:10px;">@yapilandirma[2]</span></p>
</div>
<div class="row">
    <p><i class="fas fa-phone-volume text-white mt-4" style="color:white; font-size:x-large; margin-left:35px;"></i><span class="h5 text-white" style=" margin-left:20px; margin-top:10px;">@yapilandirma[3]</span></p>
</div>
<div class="row">
    <p><i class="fas fa-envelope text-white mt-4" style="color:white; font-size:x-large; margin-left:35px;"></i><span class="h5 text-white" style=" margin-left:15px; margin-top:10px;">@yapilandirma[4]</span></p>
</div>